<%= render partial: "./partials/site_info" %>

<div class="account-session center-text">
  <a href="../users/new">
    <input type="button" class="btn btn-default btn-warning" value="Create an Account">
  </a>
  <br>

  <div class="log-in">
    <label>Log In</label>
    <form class="" action="<%= sessions_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label>
          Username
          <input type="text" class="form-control"
            name="user[username]" value=""
          >
        </label>
      </div>

      <div class="form-group">
        <label>
          Password
          <input type="password" class="form-control"
            name="user[password]" value=""
          >
        </label>
      </div>

      <input type="submit" class="btn btn-default btn-warning" value="Log In">
    </form>

    <hr>

    <form class="" action="<%= sessions_url %>" method="post">
      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >

      <input type="hidden" name="user[username]" value="Guest">
      <input type="hidden" name="user[password]" value="password">

      <input type="submit"
        class="guest btn btn-warning"
        value="Guest Log In"
      >
    </form>
  <div>
</div>
