<div class="container generic-bg center-text">
  {{#if isBetForCurrentMatch}}
    <h2>You bet on:
      <br>
      <label>{{model.team.name}}</label>
    </h2>
    <br>

    <strong>Total Value:</strong>
      <p class="prize-pool">
        <label>
          ${{model.totalValue}}
        </label>
      </p>
    <br>

    <div class="bet-show">
      <ul>
        {{#each model.items as |item|}}
          {{inventory-item item=item}}
        {{/each}}
      </ul>
    </div>

  {{else}}
    <h2>It looks like you haven't placed a bet yet.<br></h2>
    <h4>Don't worry, there might still be time!<br></h4>
    <br>

    <button class="btn btn-warning"{{action "toMatchPage"}}>Go place a bet</button>
  {{/if}}

</div>
