<div class="container center-text">
  {{#if isBetForCurrentMatch}}
    <h2>You bet on: <label>{{model.team.name}}</label></h2>
    <br>
    <label>Total Value:</label>
    <p class="prize-pool" >${{model.totalValue}}</p>
    <br>

    <div class="bet-show">
      <ul>
        {{#each model.items as |item|}}
          {{inventory-item item=item}}
        {{/each}}
      </ul>
    </div>

  {{else}}
    <h2>It looks like you haven't placed a bet yet.<br></h2>
    <h4>Don't worry, there might still be time!<br></h4>
    <br>

    <button class="btn btn-warning"{{action "toMatchPage"}}>Go place a bet</button>
  {{/if}}

</div>
