<div class="inv-item noselect" {{action 'createItem' item}}>
    <label class="gun-info">
      {{item.name}}
    </label>
    <br>

    {{item.condition}}
    {{item.rarity}}
    <br>

    <img src="{{item.imageUrl}}" class="item-image" />
    <br>

    <label class="gun-info">
      ${{item.price}}
    </label>
    <br>

    {{#if item.isStattrack}}
      <div class="stattrack">StatTrack</div>
    {{/if}}

    {{#if item.isSouvenir}}
      <div class="souvenir">Souvenir</div>
    {{/if}}
</div>
