<div {{action "toBetPage" team}}>
  <img class="team-avatar" src="{{team.avatarUrl}}"/>
  <br>
  <label class="">{{team.name}}</label>
</div>
<hr>
<button class="btn btn-warning place-bet" {{action "toBetPage" team}}>Bet on {{team.name}}</button>
