<img class="team-avatar team-bets team{{team.id}}" src="{{team.avatarUrl}}"
  {{action "toBetPage" team}}
>

<br>
<div class="team-name team{{team.id}}">
  <label class="">{{team.name}}</label>
  <br>
  <button class="btn btn-warning betting-page" {{action "toBetPage" team}}>
    Bet on <br> {{team.name}}
  </button>
</div>
