<div {{action "toBetPage"}}>
  <img class="team-avatar" src="{{team.avatarUrl}}"/>
  <br>
  <label class="">{{team.name}}</label>
</div>
<hr>
<button class="btn place-bet" {{action "toBetPage"}}>Bet on {{team.name}}</button>
