<div class="landing-content center-text">
  <div class="next-match">
    <div class="next-match-image"></div>

    <h2>GO time starts in:
      <br>

      <p class="time-left">
        {{timeLeft}}
      </p>

    </h2>
  </div>

  <div class="container-fluid team-idx generic-bg clearfix">
      {{outlet 'teams'}}

      <div class="match-info">
        <p class="vs">VS</p>

          Total Prize Pool:
          <br>

          <p class="prize-pool">
            <label>
              ${{prizePool}}
            </label>
          </p>

          Match starts at:
          <br>

          8:00pm PST
      </div>

  </div>

  <div class="recent-bets-list generic-bg container-fluid">
    <div class="bets-label col-xs-12">
      Recent Bets:
    </div>

    {{#each recentBets as |bet|}}
      <div class="recent-bet col-xs-2">
        <label>{{bet.user.username}}</label>
        <br>

        bet <label>${{bet.totalValue}}</label> on
        <br>

         <label>
           {{bet.team.name}}
         </label>
      </div>
    {{/each}}
  </div>

</div>
