<div class="match-inprogress container center-text">
  <div>
    {{#each sortedTeams as |team|}}
      <div class="teams team{{team.id}} team-inprogress">
        <img class="team-avatar" src="{{team.avatarUrl}}" alt="" />
        <p>{{team.name}}</p>
        <p>Rounds Won: {{team.score}}</p>
      </div>
    {{/each}}
  </div>

  <div class="winner">
    {{#if model.winner.name}}
      WINNER:<br>
      {{model.winner.name}}
    {{/if}}
  </div>

  <div class="match-details">
    Map: {{model.map}}<br>
    Round: {{model.currentRound}}<br>
  </div>
</div>
