<div class="match-inprogress container center-text">
  <div class="match-inprogress-img"></div>

  <div>
    {{#each model.teams as |team|}}
      <div class="teams team{{team.id}} team-inprogress">

        <img class="team-avatar" src="{{team.avatarUrl}}" alt="" />

        <p>{{team.name}}</p>
        <p>Rounds Won: {{team.roundsWon}}</p>

      </div>
    {{/each}}
  </div>

  <div class="winner">
    {{#if model.winner.name}}
      WINNER:
      <br>

      <label class="">
        {{model.winner.name}}
      </label>

      <p>Come back tomorrow to bet on a new match!</p>

    {{/if}}
  </div>

  <div class="match-details">
  <h2>Tonight's Prize Pool: ${{model.prizePool}}</h2>

    Map:
    <br>
    <label>
      {{model.map}}
    </label>
    <br><br>

    Round:
    <br>
    <label>{{model.currentRound}}</label>
    <br>

  </div>
</div>
